.subscribe__input {
  border: solid 1px #e7e7e7;
  height: 40px;
  -ms-flex-preferred-size: 229px;
  flex-basis: 229px;
  color: #e7e7e7;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 300i;
  padding: 15px;
}
